@Scripts.Render("~/Scripts/eAzolution/Core/HrAdmin/Designation/DesignationSummary.js")

<div class="leftDiv">
    
    
    <fieldset class="k-content">
       <legend class="k-fontSize[14]">Designation Summary</legend>
    <div id="gridDesignationSummary"></div>
    <div class="clear"></div>
           </fieldset>
</div>