@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div id="datePickerDiv" class="mb-2 mr-sm-2 mt-lg-2 ">
        <h3 class="k-header"> Approve List</h3>
        <form class="form-inline">
            <div class="form-group mb-2">

                <input type="datetime" id="datepickerFrom" placeholder="From" required>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="datetime" id="datepickerTo" placeholder="To" required>
            </div>
            <button type="button" id="btnSearch" class="k-button k-primary mb-2">Search</button>

        </form>
        <div id="DateProductPriceGridDiv">

        </div>
        <button id="btnSave" class="k-button k-primary mt-lg-2" type="Submit">Approve</button>
    </div>
