 
<div class="leftDiv widthSize64_per">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">User Summary</legend>

     
        <div id="gridUser"></div>

    </fieldset>
    <div class="clear"></div>
</div>