@{
    ViewBag.Title = "User Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Core/SystemAdmin/Users/UserSettings.js"></script>
<script src="~/js/Core/SystemAdmin/Users/UserSummary.js"></script>
<script src="~/js/Core/SystemAdmin/Users/UserInfo.js"></script>
<script src="~/js/Core/SystemAdmin/Users/GroupMembership.js"></script>
<script src="~/js/Core/SystemAdmin/Users/UserDetails.js"></script>
<script src="~/js/Core/SystemAdmin/Users/UserUpload.js"></script>


<div class="mainDiv">

    <div class="k-header">User Settings</div>
    @await Html.PartialAsync("_UserUpload.cshtml")
    <div class="clear"></div>

    @await Html.PartialAsync("_UserSummary.cshtml")
    @await Html.PartialAsync("_UserDetails.cshtml")
    <div class="clear"></div>
</div>

