@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<script src="~/Binder/Product/ProductInfoSummery.js"></script>*@

<div class="leftDiv">
    <div class="k-block">

        <h3 class="k-header"> Products Summary</h3>

        <div id="ProductsSummaryDiv" class="divSummary">



        </div>
    </div>


</div>
