@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<script src="~/Binder/Product/ProductInfoDetails.js"></script>*@

<!-- Default form login -->
<div class="rightDiv">
    <div class="k-block">
        <h3 class="k-header"> Products Details</h3>

        <div id="ProductInformationDiv" class="divDetails">

            <ul>
                <li>
                    <input id="hdnProductsId" Type="hidden" value="0" />
                </li>
                <li>
                    <label class="lbl widthSize20_per">Product Name:</label>
                    <input type="text" class="k-textbox" id="txtProductName" name="ProductName" title="Please Select Your Name" required validationMessage="Enter Product Name!"  />


                </li>


                <li>
                    <label class="lbl widthSize20_per">Product Code:</label>
                    <input type="text" class="k-textbox" id="txtProductCode" name="ProductCode" title="Please Select Your Name" required validationMessage="Enter Product Code"  />

                </li>



                <li>
                    <label for="txtProductUnitName" class="lbl widthSize20_per">Unit Name:</label>
                    <input id="txtProductUnitName" required data-required-msg="Select Product Type Name" />

                </li>
                <li class="accept">
                    <button id="btnSave" class="k-button k-primary" type="submit">Submit</button>
                    &nbsp;&nbsp;
                    <button id="btnClearAll" class="k-button k-primary">Clear All</button>
                </li>
                <li class="status"></li>








            </ul>


        </div>


    </div>

</div>
<!-- Default form login -->
