@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/Company/CompanySummary.js")

<div class="">
    @*<fieldset class="k-content">
    <legend class="k-fontSize[15]">
        SBU Summary
    </legend>*@
    <button type="button" id="btnSbuCompanyAddNew" class="k-button" title="Add New Company" onclick="companyDetailsHelper.showHideSbuComanySummaryEdit();"><span class="k-icon k-i-folder-up"></span>Add New Company</button>
    <br/>
    <br/>
    <div id="gridCompany"></div>
        @*</fieldset>*@
    <div class="clear"></div>
</div>
