@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<script src="~/Core/Menu/MenuSummary.js"></script>



<div class="leftDiv" id="gridMenuId">
    <div id="gridMenu"></div>
    <div class="clear"></div>
</div>