@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    
    <script src="~/Core/Menu/MenuSorting.js"></script>

<div class="leftDiv">
    <div id="gridMenuSorting"></div>
    <div class="clear"></div>

    <div class="divDetails">
        <ul>
            <li>
                <button id="btnSaveSortOrder" class="k-button" type="submit">Update Sort Order</button>
            </li>
        </ul>
    </div>

</div>