
<script src="~/Scripts/eAzolution/Core/HrAdmin/RecruitmentType/RecruitmentTypeSummary.js"></script>
<div class="leftDiv">
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> Recruitment Type Summary </legend>

        <div id="RecruitmentTypeSummarydiv" class="divSummary"></div>
    </fieldset>
</div>