
@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/Group/GroupSummary.js")

<div class="leftDiv leftDivForGroup widthSize25_per">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">
         Group Summary
        </legend>
    
    @*<div class="divDetails">
        <ul>
            <li>
                <label for="cmbCompanyNameForSummary" class="lbl widthSize32_per">SBU Name:</label>
                <input id="cmbCompanyNameForSummary" onchange="groupSummaryHelper.CompanyIndexChangeEvent()" value=""/>
            </li>
        </ul>
    </div>*@
    <div id="gridGroup"></div>
        </fieldset>
    <div class="clear"></div>
</div>