

<div class="mainDiv">
    <div class="leftDiv">
        @Html.Partial("../../Views/Core/HrAdmin/HospitalInformation/_HospitalInformationSummary")
    </div>
    <div class="rightDiv">
        @Html.Partial("../../Views/Core/HrAdmin/HospitalInformation/_HospitalInformationDetails")
    </div>
</div>

