
@{
    ViewData["Title"] = "GetProductPriceApproveList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <script src="~/Binder/ProductPriceApproveList/GetProductPriceApproveList.js"></script>


    <div class="">
        <fieldset class="k-content">

            <legend class="k-fontSize[15]"> Products Price Approve List</legend>

            <div id="GetProductPriceApproveList" class="divSummary">



            </div>
        </fieldset>


    </div>>

