@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/DeviceSettings/DeviceSummary.js")

<div class="">
    <fieldset class="k-content">
    <legend class="k-fontSize[15]">
       Device Summary
    </legend>

    <div id="gridDeviceSummary"></div>
        </fieldset>
    <div class="clear"></div>
</div>
