@{
    ViewBag.Title = "Nature Of Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/eAzolution/Core/HrAdmin/NatureOfAction/NatureOfAction.js")


<div class="mainDiv">
    <h1 class="k-header">Nature Diciplinary Action</h1>
    @Html.Partial("HrAdmin/NatureOfAction/_Disciplinary_NatureOfAction")
    <div class="clear"></div>
</div>
