<script src="~/Scripts/eAzolution/Core/HrAdmin/BranchTypeWithBranchMapping/_BranchTypeWithBranchMappingSummary.js"></script>

<div class="leftDiv widthSize60_per">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Branch Type With Branch Mapping Summary</legend>

        <div id="divBranchTypeWithBranchMappingSummary"></div>
    </fieldset>
    <div class="clear"></div>
</div>