@{
    ViewBag.Title = "BranchTypeWithBranchMappingSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/eAzolution/Core/HrAdmin/BranchTypeWithBranchMapping/BranchTypeWithBranchMappingSetting.js"></script>




<div class="mainDiv">
    <h1 class="k-header">Branch Type With Branch Mapping Setting</h1>
    @Html.Partial("HrAdmin/BranchTypeWithBranchMapping/_BranchTypeWithBranchMappingSummary")
    @Html.Partial("HrAdmin/BranchTypeWithBranchMapping/_BranchTypeWithBranchMappingDetails")
    
    <div class="clear"></div>
</div>

