@{
    ViewBag.Title = "LanguageSetting";
}
<script src="~/Scripts/eAzolution/Core/HrAdmin/Language/LanguageSetting.js"></script>

<div class="mainDiv">
    <h2 class="k-header">Language Setting</h2>
    @Html.Partial("~/Views/Core/HrAdmin/Language/_LanguageDetails.cshtml")
    @Html.Partial("~/Views/Core/HrAdmin/Language/_LanguageSummary.cshtml")
    <div class="clear"></div>
</div>