@{
    ViewBag.Title = "HrisSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/eAzolution/Core/SystemAdmin/HrisSettings/HirsSettings.js"></script>

<h2 class="k-header centerAlign">Hris Settings</h2>

<div id="divHrisSettings">

    @Html.Partial("../Core/SystemAdmin/HrisSettings/_HrisDetails")

</div>
