@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<script src="~/Binder/Product/ProductInfoDetails.js"></script>*@

    <script src="~/Binder/TallyPoint/TallySearchDetails.js"></script>


<!-- Default form login -->
<div class="">
    
        <h3 class="k-header mb-2 mr-sm-2 mt-lg-2 "> Tally Information </h3>
        
        <div id="TallySearchDiv" class="divDetails">

            <form class="form-inline">

                <div class="input-group mb-2 mr-sm-2">

                    <input type="text" class="k-textbox" id="searchSoc" placeholder="Search SOC">
                </div>

                <button type="button" id="btnSearch" class="k-button k-primary mb-2">Search</button>
            </form>


            <div id="TallyPointSearchDiv">
                

            </div>
           


        </div>



</div>
<!-- Default form login -->
