
@Scripts.Render("~/Scripts/eAzolution/Core/HrAdmin/RSMRegion/RSMRegionSummary.js")
<button class="k-button" onclick=" RSMRegionDetailsHepler.ShowRsmRegionDetails(); "><span class="k-icon k-i-plus"></span>Add</button>&nbsp; &nbsp;
<br/>
    <div class="divDetails">
        <div id="gridRSMRegionSummary">
        </div>
    </div>


