<script src="~/Scripts/eAzolution/Core/HrAdmin/BoardInstitute/BoardInstituteSummary.js"></script>
<div class="leftDiv">
    <fieldset class="k-content">
        <legend class="k-fontSize[15]">Board/Institute Summary </legend>
    
        <div id="gridBoardInstitute"></div>
        </fieldset>
    <div class="clear"></div>
</div>