@Scripts.Render("~/Scripts/eAzolution/Core/HrAdmin/Branch/BranchSummary.js")

<div class="leftDiv widthSize44_per">


    <fieldset class="k-block">
        <legend class="k-header">Branch/Location Summary</legend>
        <div id="divgridBranchSummary"></div>

    </fieldset>
    <div class="clear"></div>
</div>
<div class="clear"></div>