<script src="~/Scripts/eAzolution/Core/HrAdmin/UserOtpView/UserOtpViewSummary.js"></script>


<div>
    <fieldset class="k-content">

        <legend class="k-fontSize[15]"> User OTP View Summary </legend>

        <div id="UserOTpViewSummaryDiv" class="divSummary"></div>


    </fieldset>


</div>