<script src="~/Scripts/eAzolution/Core/HrAdmin/UserOtpView/UserOtpViewDetails.js"></script>

<div>
<fieldset class="k-content">
    <legend class="k-fontSize[15]"> User OTP View </legend>

    <div id="UserOtpViewDiv" class="divDetails">

        <ul>

            <li>
                <div id="searchemployeediv">
                <label for="EmployeeId" class="lbl widthSize20_per">Employee ID/Name/Mobile No/Email Id :</label>
                <input type="hidden" id="hdnHrRecordId" />
                <input id="hdnUserOtpId" type="hidden" />
                <input type="text" name="SearchEmployee" class="k-textbox " id="txtSearchEmployee" />
                <button type="button" id="btnSearch" class="k-button" value=""><span class="k-icon k-i-search"></span></button>
                    </div>


            </li>
        </ul>
    </div>


</fieldset>

</div>