@Scripts.Render("~/Scripts/eAzolution/Core/HrAdmin/DegreeType/DegreeTypeSummary.js") 
 
<fieldset class="k-content">
    <legend class="k-fontSize[15]">Degree Type Summary</legend>
    <div id="gridDegreeType"></div>
    <div class="clear"></div>
</fieldset>
