<script src="~/Scripts/eAzolution/Core/HrAdmin/BranchTypeWiseManPowerSetup/BranchTypeWiseManPowerSetupSummary.js"></script>

<div>
    <fieldset class="k-content">
        <h1 class="k-header">  Branch Wise Man Power Setup  </h1>
        <div><button id="btnSaveManPowerSetup" class="k-button" type="submit"><span class="k-icon k-i-save"></span> Update </button></div>
        <div id="divBranchTypeWiseManPowerSetupSummary"></div>
    </fieldset>
    <div class="clear"></div>
</div>