@{
    ViewBag.Title = "BranchWiseManPowerSetupReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/eAzolution/Reports/HrReports/BranchWiseManPowerSetupReport.js"></script>

<h2>BranchWiseManPowerSetupReport</h2>
@*<div>
    <div id="divCategoryWiseActivePAHolderList" class="divDetails">
        <h2>Category Wise Active PA Holder List</h2>
        @Html.Partial("~/Views/Reports/CommonReportParam.cshtml")
    </div>*@
    <div class="centerAlign">
        <input type="button" id="btnBranchWiseManPowerReport" class="k-button" value="Generate Report" />
    </div>


@*</div>*@
