@{
    ViewBag.Title = "RecruitmentSourceSettings";
}

<script src="~/Scripts/eAzolution/Core/HrAdmin/RecruitmentSource/RecruitmentSourceSetting.js"></script>

<div class="mainDiv">
    <h2 class="k-header">Recruitment Source Setting</h2>
    @Html.Partial("~/Views/Core/HrAdmin/RecruitmentSource/RecruitmentSourceDetails.cshtml")
    @Html.Partial("~/Views/Core/HrAdmin/RecruitmentSource/RecruitmentSourceSummary.cshtml")
    <div class="clear"></div>
</div>
