
@Scripts.Render("~/Scripts/eAzolution/Core/SystemAdmin/DottedLineEmailConfig/DottedLineEmailConfigSummary.js")

<div class="">
    <button id="btnAddNewDottedLineSettings" class="k-button" type="button" value="Add New"><span class="k-icon k-i-plus"></span>Add New</button>
    <br />
    <div id="gridDottedLineEmailConfigEmployeeSummary"></div>

</div>
<div class="clear"></div>
