@{
    ViewBag.Title = "Discipline Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/eAzolution/Core/HrAdmin/Discipline/DisciplineSettings.js"></script>

<div class="mainDiv">

    @Html.Partial("HrAdmin/Discipline/_DisciplineDetails")
    @Html.Partial("HrAdmin/Discipline/_DisciplineSummary")
    <div class="clear"></div>
</div>

